.box-flex{
    display: flex;
    border: rgb(158, 158, 17) 15px solid;
    flex-direction: row;
   
    
}
.box-flex>div{
    color: white;
    font-size: 70px;
    text-align: center;
    height:700px ;
    width: 100%;
}


@media only screen and (min-width:0px) and (max-width:480px){

    .box-flex{

        flex-direction: column;
       
       
        
    }


    .box-flex>div{
        
        height:500px ;
    }
    

}




@media only screen and (min-width:481px) and (max-width:768px){


    .box-flex{

        display: grid;
        grid-template-columns: auto auto auto;
       
       
        
    }

}
         
